<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <div class="button-group">
                            <div>
                                <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2"
                                    (click)="openNew()"></button>
                                <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger"
                                    (click)="deleteSelectedProducts()"
                                    [disabled]="!selectedProducts || !selectedProducts.length"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','status']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Servicios </h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="nombre">Nombre<p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="descripcion">Descripción<p-sortIcon field="descripcion"></p-sortIcon></th>
                        <th pSortableColumn="precio">Precio base<p-sortIcon field="precio"></p-sortIcon></th>
                        <th pSortableColumn="unidad">Unidad de facturación<p-sortIcon field="unidad"></p-sortIcon></th>

                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>

                        </td>

                        <td style="width:22%; min-width:10rem;">
                            <span class="p-column-title">Descripción</span>
                        </td>

                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Precio base </span>
                        </td>

                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Unidad de facturación </span>
                        </td>
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                           
                        </div>

                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '500px'}" header="cuentas de servicio"
            [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="name">Nombre:</label>
                    <input type="text" pInputText id="name">
                </div>

                <div class="field">
                    <label for="descripcion">Descripción:</label>
                    <input type="text" pInputText id="descripcion">
                </div>
                
                <button pButton pRipple label="Tarifas" icon="pi pi-plus" (click)="tarifaDialog = true" ></button>

                <ul> 
                    <li *ngFor="let tarifa of tarifas">
                        Tarifa: {{ tarifa.tarifa}}, Precio base: {{ tarifa.precio }}, unidad de facturacion: {{ tarifa.unidad }}
                    </li>
                </ul>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Crear cuenta" icon="pi pi-check" class="p-button-text"
                    (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

    </div>
    
    <p-dialog [(visible)]="tarifaDialog" [style]="{width: '400px'}" header="Tarifas"
    [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">

        <div class="field">
            <label for="precio">Precio base:</label>
            <input type="number" pInputText id="precio">
        </div>

        <div class="field">
            <label for="unidad">Unidad de facturación:</label>
            
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="tarifaDialog = false"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveTarifa()"></button>
    </ng-template>
</p-dialog>